<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    {{> header}}
    
    <p>{{screamIt welcomeMessage}}</p>   <!-- arguments are passed with a space. welcomeMessage is argument for screamIt -->

    {{> footer}}   <!-- to include partials -->
</body>

</html>